nav, .navbar, .navbar-default {
  border-radius: 0;
  border: none;
  background-color: #09814A;
  margin-bottom: -30px;
  height: 80px;
  padding-top: 15px;
}

.navbar-brand {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.navbar-brand {
  text-shadow: 2px 3px 4px #3f2513;
}

nav a {
  margin-top: 5px;
  font-size: 40px;
  color: #eee;
  transition: 0.3s all ease-in-out;
}

nav a:hover {
  color: #ccc;
}

nav a:focus, nav a:active {
  color: #fafafa;
}

.navbar-right {
  margin-right: 10px;
}

.navbar-right a {
  color: white;
  font-size: 20px;
  line-height: 3em;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-right a:hover {
  background-color: #3f2513;
  transform: translateY(-.1em);
}

nav {
  box-shadow: 0 3px 15px 3px #000;
}
