<div class="jumbotron">
</div>

<div class="container nudge">
  <div class="panel">
    <div class="panel-heading">
      <h2>Add a New Low Life to the Club</h2>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>New latitude:</label>
          <input #newLat>
        </div>

        <div>
          <label>New longitude:</label>
          <input #newName>
        </div>

        <div>
          <label>Your name:</label>
          <input #newName>
        </div>

        <div>
          <label>Desceription of cache:</label>
          <input #newDescription>
        </div>

        <div>
          <label>Favorite cyberpunk book:</label>
          <input #newBook>
        </div>
        <button (click)="submitForm(
        newLat.value,
        newLong.value,
        newName.value);
        newLat.value='';
        newLong.value='';
        newName.value='';
        newDescription.value='';">Add</button>
      </div>
    </div>
  </div>
</div>

<div>
  <app-list></app-list>
</div>
