<!-- <div class="container nudge">
  <div *ngFor="let cache of caches | async">
    <div class="panel-body">
      <p>hi</p>
      {{geoLocation}}
    </div>
  </div>
</div> -->

<!--ADD TO FIREBASE-->
<div class="container nudge" style="margin-top: 100px;">
   <div class="panel">
     <div class="panel-heading">
     <h2>Add a new geocache to the database</h2>
   </div>
   <div class="panel-body">
     <div>
        <label for="lat">Latitude:</label>
        <input #newLat>
      </div>

      <div>
       <label for="long">Longitude:</label>
       <input #newLong>
     </div>

      <div>
       <label for="name">Your name:</label>
       <input #newName>
     </div>

      <button (click)="submitForm(
      newLat.value,
      newLong.value,
      newName.value);
      newLat.value='';
      newLong.value='';
      newName.value='';
      ">Submit</button>
    </div>
  </div>
</div>
<!--ADD TO FIREBASE-->

<h3>List of geocaches</h3>
<div *ngFor="let geoLocations of geoLocation">
   <ul>
     <li>Name: {{name}}</li>
     <li>Latitude: {{lat}}</li>
     <li>Longitude: {{long}}</li>
   </ul>
 </div>


<!--GET ADDRESS BY LAT AND LONG-->
<div class="container nudge" style="margin-top: 100px;">
   <div class="panel">
     <div class="panel-heading">
     <h2>Get an address by latitude and longitude</h2>
   </div>
   <div class="panel-body">
     <div>
        <label for="lat">Latitude:</label>
        <input #displayLat>
      </div>

      <div>
       <label for="long">Longitude:</label>
       <input #displayLong>
     </div>

      <button (click)="getLatLongFromForm(
      displayLat.value,
      displayLong.value);
      displayLay.value='';
      displayLong.value='';
      ">Submit</button>
      <h2>{{geoLocation}}</h2>
    </div>
  </div>
</div>
<!--GET ADDRESS BY LAT AND LONG-->
