/* blue #00edfa
*/

body {
  background-color: #333;
  font-size: 22px;
  color: #222;
  font-family: 'Zilla Slab', sans-serif;
  letter-spacing: .01em;
}

a {
  color: #fff;
  transition: 0.3s all ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #3f2513;
}

li {
  list-style-type: none;
}

li a {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #222;
  font-family: 'Fjalla One', sans-serif;
  transition: 0.3s all ease-in-out;
  line-height: 1.2em;
}

h3:hover {
  color: #3f2513;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

strong {
  color: #222;
  font-weight: bold;
  font-size: 1.1em;
}

.nudge {
  margin-top: 60px;
  margin-bottom: 100px;
  background-color: red;
}

.container {
  width: 75%;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 2px #222;
  max-width: 800px;
  color: #fafafa;
  background-color: #09814A;
}

.panel {
  background-color: #09814A;
}

label, input {
  margin: 0 auto;
  display: block;
  width: 75%;
  outline: none;
  color: #222;
}


label {
  text-align: left;
}

input {
  color: #333;
  transition: 0.3s all ease-in-out;
  border: 1px solid #1f162e;
  border-radius: 3px;
  padding: 10px;
  transition: 0.3s all ease-in-out;
  margin-bottom: 10px;
}

input:hover {
  padding: 10px;
  border: 1px solid #111;
  background-color: #dcdcdc;
}

input:focus, input:active {
  background-color: #eee;
}

button {
  display: block;
  margin: 10px auto;
  background-color: #3f2513;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.3s all ease-in-out;
}

button:hover {
  background-color: #333;
}
